@import url("../font/stylesheet.css");

body {
  font-family: "Gilroy", Verdana, Geneva, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Gilroy", Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

a {
  font-size: 12px;
  line-height: 20px;
  color: #443296;
  text-decoration: none;
}

b {
  font-weight: 600;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #443296;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #443296;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  color: #171932;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2D3161 !important;
}

input[type="time"] {
  border: 1px solid #BDBDBD;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 7px 20px;
  padding-left: 43px;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  display: block;
}

input[type="text"] {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 20px;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
  display: block;
}

input[type="time"]::placeholder,
input[type="text"]::placeholder {
  color: #828282;
}

input[type="text"].short-txt {
  max-width: 310px;
  padding: 8px 20px;
}

textarea {
  width: 100%;
  height: 138px;
  min-height: 50px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  resize: vertical;
}

textarea::placeholder {
  color: #828282;
}

textarea::-webkit-resizer{
  display: none;
}

textarea::-moz-resizer {
  display: none;
}

.area-wrapper {
  font-size: 0;
  position: relative;
  display: block;
}

.area-wrapper::after {
  content: "";
  display: block;
  background: url('../img/resizer.svg') no-repeat #fff;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 1px;
  right: 2px;
  pointer-events: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  height: 26px;
  margin-top: 8px;
  padding-left: 32px;
  font-size: 14px;
  line-height: 1.9em;
  color: #000000;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #2D3161;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  background-color: #2D3161;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

input[type="checkbox"]:disabled + label::before {
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
}

input[type="checkbox"] + .check-round {
  padding-left: 0;
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] + .check-round::before {
  display: none;
}

.check-round span {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #171932;
}

.check-round .round-bg {
  padding: 2px;
  width: 48px;
  height: 28px;
  background: #DBDFFA;
  border-radius: 15px;
  cursor: pointer;
}

.check-round .round {
  position: relative;
  width: 24px;
  height: 24px;
  background: #2D3161;
  border-radius: 50%;
  transform: translateX(1px);
  transition: transform 0.3s;
}

input[type="checkbox"]:checked + .check-round .round {
  transform: translateX(20px);
}

.double-range {
  margin-top: 18px;
}

.range-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #171932;
}

.range-slider {
  margin-top: 16px;
  position: relative;
  width: 100%;
  height: 14px;
  background: #DBDFFA;
  border-radius: 40px;
  cursor: pointer;
}

.range-select {
  width: auto;
  position: absolute;
  left: 25%;
  right: 15%;
  height: 14px;
  background: #443296;
  border-radius: 40px;
}

.range-thumb {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);

  background-color: #443296;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1;
}

.range-slider:hover .range-select,
.range-slider:hover .range-thumb {
  background-color: #2D3161;
}

.range-min {
  left: 25%;
  right: auto;
  transform: translate(-50%, -50%);
}

.range-max {
  left: auto;
  right: 15%;
  transform: translate(50%, -50%);
}


.row.range-values {
  margin-top: 17px;
  gap: 22px;
}

.range-value {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #171932;
}

.range-input {
  margin-top: 4px;
}

.range-values .row-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.range-values .row-item:last-child .range-value {
  align-self: flex-end;
}

.block-parameters .row-item {
  width: 50%;
}


.scroll-right {
  /* fire-fox */
  scrollbar-color: #443296 #DBDFFA;
  scrollbar-width: 12px;
  padding-bottom: 8px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: auto;
}

.scroll-right::-webkit-scrollbar {
  width: 12px;
	height: 12px;
} 

.scroll-right::-webkit-scrollbar-track {
  background: #DBDFFA; 
  border-radius: 4px;
}

.scroll-right::-webkit-scrollbar-thumb {
  background: #443296; 
  border-radius: 10px;
}

.scroll-right::-webkit-scrollbar-thumb:hover {
  background: #2D3161; 
}

.multi-pick {
  display: flex;
  margin-top: 10px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 16px;
  gap: 8px;
  flex-wrap: wrap;
}

.multi-pick-item {
  position: relative;
  font-size: 9px;
  line-height: 10px;
  color: #171932;
  border: 0.5px solid #2D3161;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 18px 4px 6px;
  cursor: pointer;
}

.multi-pick-item::after {
  content: "";
  position: absolute;
  margin-left: 2px;
  display: block;
  background: url('../img/close-pick.svg') no-repeat center;
  background-size: cover;
  width: 10px;
  height: 10px;
  top: 4px;
  right: 6px;
}

.pick-add {
  font-weight: bold;
  color: #FFFFFF;
  background: #2D3161;
  border-radius: 4px;
}

.pick-add::after {
  background: url('../img/add-pick.svg');
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.row-item-grow {
  flex-grow: 2;
}

.row-item-shrink {
  flex-grow: 1;
}

.row-input {
  margin-top: 16px;
}

.tabs {
  width: 100%;
  max-width: 279px;
  height: 40px;
  margin: 16px auto;
  display: flex;
  position: relative;
  background-color: #DBDFFA;
  border-radius: 32px;
}
.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
  color: #443296;
}

input[type="radio"]:checked + label {
  color: #F7F7FC;
}
/* input[type="radio"]:checked + label > .notification {
  background-color: #443296;
  color: #fff;
} */

.tabs .input-tab:checked:nth-of-type(1) ~ .glider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.tabs .input-tab:checked:nth-of-type(2) ~ .glider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.glider {
  position: absolute;
  display: -webkit-box;
  display: flex;
  height: 100%;
  width: 50%;
  background-color: #443296;
  z-index: 1;
  border-radius: 99px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}


.btn {
  display: block;
  width: auto;
  background-color: #2D3161;
  border-radius: 8px;

  margin: 0 auto;
  padding: 6px 20px;

  border: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: none;
}

.btn:hover {
  background-color: #443296;
}

.btn:active {
  background-color: #DBDFFA;
}

.btn:disabled {
  background-color: #E0E0E0;
}

.btn-gray {
  background-color: #F2F2F2;
  color: #2D3161;
}
.btn-gray:hover {
  background-color: #dbdbdb;
}

.btn-default {
  border: 1px solid #F2F2F2;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #fff;
  padding: 6px 0;
}

.btn-default:hover {
  background-color: #F2F2F2;
}

.btn-send {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  padding: 9px 16px;
  border: none;

  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  background: #443296;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
}
.btn-send img {
  margin-left: 8px;
}

.btn-send:hover {
  background-color: #2D3161;
}

.btn-send:active {
  background-color: #171932;
}

.btn-send:disabled {
  background-color: #E0E0E0;
}

.back-btn {
  position: relative;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  padding-left: 28px;
  margin-bottom: 16px;
  color: #2D3161;

  border: none;
  background-color: transparent;
  cursor: pointer;
}
.back-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background: url('../img/arrow-back.svg') no-repeat center;
  background-size: cover;
}

/* common styles */

.wrapper {
  width: 91%;
  margin: 0 auto;
}

.desk-filter-content.wrapper {
  margin-top: 16px;
  width: 80%;
}

.main-content {
  position: relative;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr;
}

.desktop-nav-cont {
  display: none;
}

.main-content > * {
  min-width: 0;
}

.mob-menu {
  top: 0;
  left: -110%;

  background-color: #fff;
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 226px;
  width: 100%;
  padding: 24px 26px;

  transition: left 0.3s;
}

.mob-menu--active {
  left: 0;
}

.mob-nav-close {
  display: flex;
  align-items: center;
  background-color: #fff;

  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #171932;
  cursor: pointer;
  margin-bottom: 16px;
}

.mob-nav-close img { 
  margin-right: 16px;
}

.mob-nav {
  padding-top: 16px;
  border-top: 1px solid #E0E0E0;
}

.mob-nav ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.nav-link {
  padding: 2px;
  display: flex;
  align-items: center;
  gap: 24px;

  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #171932;
}

.mob-nav--active .nav-link {
  font-weight: 600;
  color: #443296;
}

.mob-nav-item .nav-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border-radius: 14px;
}

.mob-nav--active .nav-icon {
  background: #443296;
}

.nav-icon svg path {
  stroke: #443296;
  /* stroke-width: 2px; */
}

.mob-nav--active .nav-icon svg path{
  stroke: #fff;
  /* stroke-width: 1px; */
}

.mob-nav-create {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  background: #443296;
  border-radius: 16px;
}

.mob-nav-create img {
  margin-right: 8px;
}

.desktop-nav {
  position: fixed;
  transform: translateX(25%);
  /* position: sticky; */
  top: 58px;
  height: 90%;
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.desktop-nav-book {
  height: calc(90% - 250px);
  top: 0;
  margin-top: 34px;
}

.desktop-nav-scroll {
  position: relative;
  height: auto;
  transform: none;
  top: 0;
  margin-top: 34px;
}

.desktop-nav-mini .desk-nav-top {
  margin-top: 120px;
}

.mob-menu {
  top: 0;
  left: -110%;

  background-color: #fff;
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 226px;
  width: 100%;
  padding: 24px 26px;

  transition: left 0.3s;
}

.mob-menu--active {
  left: 0;
}

.desk-nav-close {
  display: flex;
  align-items: center;
  background-color: #fff;

  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #171932;
  cursor: pointer;
  margin-bottom: 16px;
}

.desk-nav-close img { 
  margin-right: 16px;
}

.desk-nav {
  padding-top: 16px;
  /* border-top: 1px solid #E0E0E0; */
}

.desk-nav-top {
  margin-top: auto;
  margin-bottom: auto;
}

.desk-nav-bottom {
  margin-top: 30px;
  border-top: 1px solid #E0E0E0;
}

.desk-nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.desk-nav .nav-link {
  position: relative;
  padding: 2px;
  display: inline-flex;
  width: 174px;
  align-items: center;
  gap: 24px;

  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #171932;
}

.nav-link-txt {
  position: relative;
}

.desk-nav--active .nav-link {
  font-weight: 600;
  color: #443296;
}

.desk-nav-item .nav-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border-radius: 14px;
}

.desk-nav--active .nav-icon {
  background: #443296;
}

.desk-nav--active .nav-icon svg path{
  stroke: #fff;
  /* stroke-width: 1px; */
}

.desk-nav-create {
  padding: 10px 32px;
  margin-top: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  background: #443296;
  border-radius: 16px;
  letter-spacing: 0.01em;
}

.desk-nav-create img {
  margin-right: 8px;
}



.main-header {
  position: relative;
  height: 40px;
  align-items: center;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.header-burger {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 12px 9px;
  background: #443296;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  background-image: url('../img/burger-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.main-header-logged .header-burger {
  position: relative;
}

.main-header-logged .header-logo {
  margin-left: 16px;
  margin-right: auto;
}

.main-header-logged .menu-item {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 8px;
  font-size: 0;
}

.main-header-logged .menu-number {
  right: -7px;
  top: -3px;
  line-height: normal;
}

.header-logo img {
  display: block;
}

.main-content {
  margin-top: 24px;
}

.main-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #443296;
}

.key-block {
  position: relative;
  margin-top: 24px;
  padding: 32px 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.key-block-split {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 30px;
}

.key-split-item {
  flex-grow: 1;
  flex-basis: 250px; /* 308 */
  min-width: 0;
}

.split-add-day {
  display: flex;
  flex-direction: column;
}

.side-block {
  background: #FBFBFF;
}

.side-block .key-block {
  box-shadow: none;
  background: #FBFBFF;
}

.hide-block {
  display: none;
  border: none;
  background: none;
}

.key-block-hide .hide-block {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../img/arrow.svg');
  top: 32px;
  right: 10px;
  cursor: pointer;
}

.sub-head.key-block-hide .hide-block { 
  top: 0;
}

.key-block-hide--closed .hide-block {
  transform: rotate(180deg);
}

.block-heading {
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
  max-width: 75%;
}

.block-parameters .block-heading {
  margin-bottom: 0;
}

.heading-question::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/question.svg');
  background-size: cover;
  bottom: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.question-wrap {
  position: relative;
}

.question-tip {
  display: none;
  position: absolute;
  max-width: 400px;
  padding: 32px 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
  z-index: 9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.question-tip--open {
  display: block;
}

.tip-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 8px;
  background: url('../img/close-help.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.sub-head {
  position: relative;
  margin-top: 16px;
}

.area-counter {
  margin-top: 3px;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #828282;
}

.area-counter span {
  font-size: inherit;
  line-height: inherit;
}

.momental-label::after {
  content: "";
  margin-left: 11px;
  width: 10px;
  height: 16px;
  position: absolute;
  top: 25%;
  background: url('../img/zip.svg');
}

.card-price {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 4px 8px;
  background-color: #2D3161;
  border-radius: 8px;
}

.card-price--momental {
  padding: 4px 28px 4px 8px;
}

.card-price--momental::after {
  position: absolute;
  top: 7px;
  right: 6px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/zip.svg') no-repeat center;
  background-size: contain;
}

.pic-input {
  position: relative;
}

.pic-input input{
  padding: 7px 44px;
  padding-right: 0;
}

.pic-input-clock {
  margin-top: 10px;
}

.pic-input .pic-input-clock {
  padding: 7px 20px;
  padding-left: 43px;
  margin-top: 10px;
}

.pic-input::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/map-pin.svg');
  top: 9px;
  left: 16px;
}

.pic-input.pic-input-address {
  margin-top: 10px;
}

.pic-input.pic-input-address input[type="text"] {
  margin-top: 0;
}

.pic-input-address::before {
  background: url('../img/map-pin.svg');
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.pic-input-clock::before {
  background: url('../img/clock-gray.svg');
}

.pic-input-calendar::before {
  background: url('../img/calendar-gray.svg');
}

.horisont-scroll {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-right: -10px;
  padding-right: 10px;
  overflow-x: auto;
}

.horisont-scroll .img-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  flex-shrink: 0;
}

.horisont-scroll .image-object {
  width: 100%;
  height: 50px;
  background: url('../img/image-placeholder.svg'), #fff;
  border: 1px solid #F2F2F2;
  /* background: #FCF4FF; */
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}

.horisont-scroll .image-object img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-title {
  margin-top: 4px;
  font-size: 8px;
  line-height: 10px;
}

.img-item-delete {
  margin-top: 4px;
  font-size: 8px;
  line-height: 10px;
  color: #EB5757;
  cursor: pointer;
}

.excursion-tip {
  margin-top: 10px;
  font-size: 12px;
  color: #828282;
}

.load-images {
  max-width: 308px;
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.load-images label{
  flex-grow: 1;
  position: relative;
}

.load-images input[type="file"] {
  display: none;
}

.load-photos {
  background: #2D3161;
  border-radius: 8px;
  padding: 6px 32px;
  padding-left: 16px;
  
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.load-photos::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 10px;
  margin-left: 6px;
  background-image: url('../img/load-photos.svg');
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
}

.load-cover {
  border: 1px solid #2D3161;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px;

  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #2D3161;
  text-align: center;
  cursor: pointer;
}


.counter {
  display: flex;
  justify-content: center;
  margin: 8px auto;
}

.counter-value {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  align-self: center;
  color: #14142B;
}


.counter-btn {
  display: block;
  background-size: 8px;
  width: 40px;
  height: 40px;
  margin: 0 16px;
  border-radius: 50%;
}

.counter-btn--dist {
  background-image: url('../img/counter-dist.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.counter-btn--add {
  background-image: url('../img/counter-add.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.members-count {
  display: flex;
  justify-content: space-evenly;
  margin: 24px auto 16px;
}

.members-count .counter-btn {
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.members-age {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin-top: 16px;
}

.members-age .counter-btn {
  /* width: 50%; */
  flex-basis: 48%;
  font-weight: 600;
  color: #2D3161;
  border-radius: 8px;
  margin: 0;
  height: 32px;
  line-height: 100%;
}

.members-age .counter-btn.btn-active {
  color: #FFFFFF;
  background: #2D3161;
}

.counter-any {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  margin: 8px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  margin: 44px;
  margin-right: auto;
  font-weight: normal;
  font-size: 24px;
  color: #171932;
}


.select {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  margin-left: 0;
  width: 100%;
  max-width: 328px;
  /* height: 100%; */
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
}
.select i.toggle {
  position: absolute;
  z-index: 4;
  right: 21px;
  top: 16px;
  color: #ccc;

  width: 10px;
  height: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.select .title, .select .placeholder {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  /* height: 100%; */
  font-size: inherit;
  padding: 10px 16px;
  background: white;
  border-top: 1px solid #BDBDBD;
  cursor: pointer;
}
.select input {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  cursor: pointer;
}

.icon-arrow-down {
  background-image: url('../img/select-down.svg');
}

.icon-arrow-up {
  background-image: url('../img/select-up.svg');
}

.select input:checked ~ i.toggle.icon-arrow-down {
  display: none;
}

.select input:checked ~ i.toggle.icon-arrow-up {
  display: block;
}

.select input:checked div.options label.option .title {
  display: none !important;
}

.select input:not(:checked) {
  z-index: 4;
}

.select input:not(:checked) ~ label.option span.title {
  display: none;
}

.select input:not(:checked) ~ i.toggle.icon-arrow-up {
  display: none;
}

.select input:not(:checked) ~ i.toggle.icon-arrow-down {
  display: block;
}

.select input:disabled {
  cursor: no-drop;
}

.select span.placeholder {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  color: #999;
  border-top: 0px;
}

.select label.option {
  display: block;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: all 1s ease-out;
}

.select label.option span.title {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-out;

  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.select label.option span.title i.icon {
  padding-right: 8px;
  color: #92a8d1;
}

.select label.option span.title:hover {
  background: #F2F2F2;
}

.select label.option input {
  display: none;
}

.select label.option input:checked ~ span.title {
  position: absolute;
  
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* pointer-events: none; // for .select type="checked" */
  display: block;
  z-index: 3;
  top: 0px;
  background: #fff;
  border-top: 0px;
  box-shadow: none;
  color: inherit;
  width: 100%;
}
.select label.option input:disabled ~ span.title {
  background: #f9f9f9 !important;
  color: #aaa;
}
.select label.option input:disabled ~ span.title:hover {
  color: #aaa;
  background: none;
  cursor: no-drop;
}



.diff-select {
  margin-top: 8px;
}

.transportation {
  padding-bottom: 8px;
  margin-right: auto;
}

.transportation .image-object {
  background: none;
  border: 1px solid #F2F2F2;
}

.transportation .img-item {
  width: 70px;
  cursor: pointer;
}

.transportation .img-item--select .image-object {
  border: 1px solid #443296;
}

.transportation .img-item--select .image-object svg path {
  stroke: #443296;
}

.transportation .image-object svg path {
  stroke: #E0E0E0;
}

.transportation .image-object {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transportation .image-object img{
  width: 50px;
  height: 50px;
}

.transportation .image-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #171932;
}

.transportation .img-item--select .image-title {
  font-weight: 600;
  color: #443296;
}

.transportation {
  scrollbar-color: #443296 #DBDFFA;
  scrollbar-width: 12px;
}

.transportation::-webkit-scrollbar {
  width: 12px;
	height: 12px;
} 

.transportation::-webkit-scrollbar-track {
  background: #DBDFFA; 
  border-radius: 4px;
}

.transportation::-webkit-scrollbar-thumb {
  background: #443296; 
   border-radius: 10px;
}

.transportation::-webkit-scrollbar-thumb:hover {
  background: #2D3161; 
}


.sub-status {
  padding-left: 20px;
}

.sub-status::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 20%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sub-status--success::before {
  background-image: url('../img/Success.svg');
}

.sub-status--error::before {
  background-image: url('../img/error.svg');
}

.excurs-days {
  position: relative;
  color: #171932;
  margin-top: 10px;
}

.excurs-days::before {
  position: absolute;
  top: 4px;
  left: 7px;
  content: "";
  display: block; 
  width: 1px;
  height: 98%;
  /* background-color: transparent;
  border-left: 1px dashed #BDBDBD; */
  background-image: linear-gradient(to bottom, #BDBDBD, #BDBDBD 42%, transparent 42%, transparent 100%);
  background-size: 1px 15px;
}

.excurs-day {
  position: relative;
  padding-left: 24px;
  margin-top: 16px;
}

.excurs-day::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  display: block; 
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #443296;
}

.excurs-day:last-child::after {
  position: absolute;
  top: 19px;
  left: 0;
  content: "";
  display: block; 
  width: 24px;
  height: calc(100% - 19px);
  bottom: 0;
  background-color: #fff;
}

.sub-head-nomrg {
  margin-top: 0;
}

.excurs-details {
  display: none;
}

.excurs-day.key-block-hide--closed .excurs-details {
  display: block;
}

.excurs-day.key-block-hide .hide-block {
  top: 2px;
}

.excurs-name {
  padding-right: 40px;
}

.excurs-name b {
  font-weight: 700;
}

.excurs-descr {
  max-width: 470px;
  margin-top: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.excurs-location {
  position: relative;
  padding-left: 20px;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  margin-top: 8px;
  color: #171932;
}

.excurs-location::before { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../img/exc-location.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
}

.excursion-scroll {
  margin-right: 0;
  padding-right: 0;
  gap: 4px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E0E0E0;
  flex-wrap: wrap;
}

.excursion-scroll .image-object {
  background: none;
  border: 1px solid #F2F2F2;
}

.excursion-scroll .img-item {
  width: 18px;
  cursor: pointer;
}

.excursion-scroll .image-object {
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.88px;
}

.excursion-scroll .image-object img{
  width: 100%;
  height: 100%;
}

.excursion-scroll .img-item-delete {
  margin-left: auto;
  margin-right: 6%;
  font-size: 10px;
  line-height: 18px;
}

.btn-add-day {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  padding: 6px 41px;
  color: #FFFFFF;
  margin-top: 20px;
}

.btn-add-day img { 
  margin-left: 8px;
  width: 14px;
  height: 14px;
}

.btn-invert {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #2D3161;
  
  background-color: #fff;
  border: 1px solid #2D3161;
  box-sizing: border-box;
  border-radius: 8px;
}

.btn-invert:hover {
  background-color: #DBDFFA;
}

.load-images-short {
  max-width: none;
}

.load-images-short label {
  flex-grow: 0;
  margin: auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  padding: 6px 40px 6px 19px;
  color: #FFFFFF;
}

.exc-add-day {
  margin-top: 8px;
  background-color: #443296;
}

.exc-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  margin-top: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #EB5757;
  text-align: center;
}

.mob-shedule {
  display: block;
}

.desk-shedule {
  display: none;
}

.week-day {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 32px;
  border-radius: 8px;
  padding: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.week-day .btn-default {
  color: #2D3161;
}

.currency-cont {
  align-items: start;
}

.currency-cont .row-item input[type="text"] {
  padding: 8px 16px;
}

.currency-cont span.placeholder,
.currency-cont label.option span.title {
  padding: 8px 16px;
}


.currency-cont .diff-select,
.currency-cont .row-item input[type="text"] {
  margin-top: 8px;
  /* height: 40px; */
}

.choosen-dates {
  list-style: none;
  margin: 0;
  margin-top: 10px;
}

.choosen-date .delete-item {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 0;
  cursor: pointer;
}

.choosen-date-item {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #171932;

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 5px;
  margin-bottom: 8px;
  border: 0.5px solid #2D3161;
  box-sizing: border-box;
  border-radius: 4px;
}
.choosen-date-item img { 
  margin-left: 8px;
}

.side-block .key-block {
  padding: 26px 10px;
}

.guide-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  margin-top: 26px;
}

.guide-info > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.guide-group {
  display: flex;
  margin-right: -26px;
}

.guide-group img {
  width: 34px;
  height: 34px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}

.guide-group img:nth-child(2) {
  transform: translateX(-40%);
}

.guide-group img:nth-child(3) {
  transform: translateX(-80%);
}

.guide-group img:nth-child(n+4) {
  display: none;
}



.guid-data {
  font-size: 12px;
  line-height: 14px;
  color: #171932;
}

.guid-name {
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
}

.guid-status {
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}

.side-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 16px;
  color: #2D3161;
}

.side-paragraph {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: 110px;
  
  margin-top: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #171932;

  /* -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-paragraph--open {
  max-height: none;
}

.side-read-more {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.momental-label.side-paragraph,
.side-paragraph.sub-status {
  position: relative;
}

.side-images {
  padding-bottom: 0;
  border-bottom: none;
}

.side-images .img-item {
  width: 32px;
}
.side-images .image-object {
  height: 32px;
}

.side-cover {
  margin-top: 8px;
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.side-btn.btn-send {
  margin-top: 20px;
}


/* ####### home-page ####### */

.main-block.main-block-home {
  padding-top: 0;
}

.capital-block {
  position: relative;
  padding-top: 32px;
  padding-bottom: 188px;
  margin-bottom: 200px;
  background: url('../img/main-bg.svg') no-repeat center;
  background-position: bottom right;
  background-size: 100%;
}

.capital-block .wrapper {
  position: relative;
}

.capital-title {
  padding-top: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #443296;
}

.capital-title b {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.capital-ask {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #443296;  
}

.capital-ask::after {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 108%;
  top: 16px;
  background: url('../img/capital-arr.svg') no-repeat center;
  background-size: contain;
}

.capital-answ {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 5px;
  color: #2D3161;
}

.capital-block .btn-invert {
  margin-top: 20px;
  margin-left: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #443296;
  border: 1px solid #443296;
  padding: 9px 37.5px;
}

.search-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.capital-search {
  position: absolute;
  padding: 32px 16px;
  top: 150%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  z-index: 1;
  width: 100%;
}

.capital-search .sub-head {
  margin-top: 0;
}

.pic-input.pic-input-address,
.capital-search .btn-send {
  margin-top: 8px;
  width: 100%;
}

.capital-search .btn-send {
  gap: 8px;
}

.search-info {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 133px; */
}

.search-info .search-item:nth-child(n+3) {
  display: none;
}

.search-text > * {
  font-size: 11px;
  line-height: 16px;
  color: #2D3161;
}

.search-param {
  font-weight: 600;
}

.search-descr {
  font-weight: 400;
}

.norm-block {
  margin-top: 32px;
}

.norm-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2D3161;
}

.head-info {
  background-color: #FBFBFF;
  border-radius: 0px 0px 32px 32px;
}

.scroll-city {
  margin: 24px auto;
  justify-content: space-between;
}

.way-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 155px;
  flex-shrink: 0;
}

.way-item img {
  width: 100%;
  border-radius: 16px;
}

.way-city {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2D3161;

}

.way-info {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #2D3161;
}

.btn-city {
  width: 100%;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.way-benefit{
  background-color: #FBFBFF;
  margin-top: 32px;
  padding: 32px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
}

.way-benefit .benefit-item {
  width: 30%;
  min-width: 220px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.way-benefit .benefit-item img {
  width: 68px;
  height: 68px;
}

.benefit-text {
  max-width: 200px;
}

.benefit-param {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #2D3161;
}

.benefit-descr {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #171932;
  margin-top: 4px;
}

.categories-list {
  margin-top: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 9px;
  /* gap: 14px; */
}

.category-item {
  padding: 4px;
  padding-right: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  flex-grow: 1;

  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  cursor: pointer;
}

.category-item:last-child {
  max-width: 280px;
}

.category-number {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  width: 46px;
  height: 46px;
  background-color: #F2F2FF;
  color: #443296;

  border-radius: 12px;
  padding: 8px;
}

.category-add {
  background-color: #443296;
}

.category-add img {
  width: 18px;
  height: 18px;
}

.category-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #443296;
}

.way-move-block {
  margin-top: 32px;
  display: block;
}

.side-block-hide {
  display: none;
}

.move-block-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2D3161;
}

.move-block-descr {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #2D3161;
}

.way-move.transportation {
  display: flex;
  justify-content: start;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.transportation .image-object-search {
  background-color: #443296;
}

.transportation .image-object-search img {
  width: 16px;
  height: 16px;
}

.book {
  padding: 24px;
  margin-top: 32px;
  background-color: #F2F2FF;
}

.book-desk {
  position: fixed;
  bottom: 0;
  width: 264px;
}

.book-title {
  width: 60%;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2D3161;
}

.book-desk .book-title {
  width: 100%;
}

.book-title em {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #443296;
}

.book-list {
  margin-top: 16px;
  list-style: none;
}

.book-item {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2D3161;
  margin-top: 8px;
  padding-left: 24px;
}

.book-item::before { 
  position: absolute;
  left: 0;
  transform: translateY(25%);
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/success-blue.svg') no-repeat center;
  background-size: cover;
}

.scroll-best-offers {
  margin-top: 24px;
  margin-bottom: 42px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 18px;
  gap: 24px;
}

.offer-item {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 266px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.offer-body {
  padding: 16px;
  padding-bottom: 44px;
}

.offer-item img {
  width: 100%;
  max-height: 266px;
  object-fit: cover;
}

.offer-item .card-price { 
  position: absolute;
  right: 16px;
  top: 226px;
}

.offer-tags {
  display: flex;
  overflow-x: auto;
}

.offer-tags::-webkit-scrollbar {
  width: 4px;
	height: 4px;
} 

.offer-tags::-webkit-scrollbar-track {
  background: #DBDFFA; 
  border-radius: 2px;
}

.offer-tags::-webkit-scrollbar-thumb {
  background: #443296; 
  border-radius: 2px;
}

.offer-tag {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #443296;
  margin-right: 19px;
  flex-shrink: 0;
}

.offer-tag:not(:last-child)::after {
  position: absolute;
  right: -11px;
  top: 44%;
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #443296;
  border-radius: 50%;
}

.offer-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #171932;
  margin-top: 8px;
}

.norm-heading--sun {
  display: flex;
  align-items: center;
}

.norm-heading--sun img {
  margin-right: 8px;
}

.summer-cont {
  margin-top: 24px;
  margin-bottom: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.summer-item {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: auto;
  line-height: 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
  margin: 0 auto;
}

.summer-item img {
  object-fit: cover;
  width: 100%;
}

.summer-title {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  position: absolute;
  bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.profile-menu {
  margin-top: 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}

.profile-item {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.profile-item img {
  width: 16px;
  height: 16px;
}

.profile-text {
  position: relative;
  margin-left: 4px;
}

.menu-number {
  position: absolute;
  width: 13px;
  height: 13px;
  right: -20px;
  top: 6px;
  background: #EF5DA8;
  border-radius: 16px;

  font-weight: bold;
  font-size: 8px;
  line-height: 8px;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-profile .guide-info {
  margin-top: 0;
  padding-top: 16px;
  border-top: 1px solid #E0E0E0;
}

/* page search */

.head-info {
  padding: 0;
  padding-top: 16px;
  margin-top: 0;
}

.head-location {
  font-size: 24px;
  line-height: 32px;

  margin-top: 16px;
  font-weight: bold;
  color: #2D3161;
}

.head-description {
  margin-top: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #171932;
}

.head-summary {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.summary-item {
  width: 100%;
}

.summary-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #2D3161;
}

.summary-value {
  margin-top: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #2D3161;
}

.choosen-filters {
  margin-top: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.choosen-filters .multi-pick-item {
  padding: 9px 32px 9px 12px;

  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
  color: #2D3161;
}

.choosen-filters .multi-pick-item::after {
  width: 16px;
  height: 16px;
  top: 6px;
  right: 12px;
}

.search-controls {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
}

.control-select {
  display: flex;
  justify-content: start;
  gap: 16px;
}

.search-controls .select {
  width: 200px;
}

.control-grid {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.control-grid .sub-head {
  margin: 0;
  margin-right: 24px;
}

.control-grid .btn-grid {
  padding: 6px 8px;
  border: 1px solid #E0E0E0;
  color: #E0E0E0;
  border-radius: 8px;
  background-color: #fff;
}

.control-grid .btn-grid path{
  stroke: #E0E0E0;
}

.control-grid .grid-active {
  border: 1px solid #443296;
  color: #443296;
}

.control-grid .grid-active path {
  stroke: #443296;
}

.control-grid {
  display: none;
}

.mobile-filter {
  margin-top: 60px;
}

.filter-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn span {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.filter-btn img {
  margin-right: 16px;
  width: 16px;
  height: 16px;
}

.filter-close-icon {
  margin-left: auto;
  display: none;
}

.filter-btn--open .filter-close-icon {
  display: inline-block;
}

.filter-apply {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 74px;
}

.filter-caption {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #2D3161;
  border-top: 1px solid #E0E0E0;
}

.filter-caption img {
  margin-right: 16px;
}

.desk-filter-content .way-move {
  padding: 0;
}

.desk-filter-content .img-item,
.mob-filter-content .img-item {
  width: 62px;
}

.desk-filter-content .image-object,
.mob-filter-content .image-object {
  height: 62px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px 24px;
  padding-bottom: 58px;
}

.cards-grid > *{
  min-width: 0;
}

.search-card {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 0 auto;
} 

.card-header {
  position: relative;
  width: 100%;
  
}

.card-slider {
  height: 302px;
}

.card-slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-pagination {
  position: absolute;
  bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.slider-pagination .slider-point {
  width: 8px;
  height: 8px;
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination .slider-point--active {
  background-color: #F2F2F2;
}

.like {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.like--checked svg {
  fill: #EF5DA8;
}

.like--checked path {
  stroke: #EF5DA8;
}

.card-header .card-price {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.card-body .card-price {
  display: none;
}

.card-body {
  position: relative;
  padding: 16px;
  padding-bottom: 24px;
  flex-grow: 1;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-caption {
  flex-grow: 1;
  margin-top: 8px;
  width: 100%;
}

.card-stats {
  margin-top: 8px;
  display: flex;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #171932;

}

.card-id {
  margin-top: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}

.card-stars,
.card-reviews {
  display: flex;
  align-items: center;
  margin-left: 45px;
  gap: 4px;
  cursor: pointer;
}

.card-stars {
  margin-left: 0;
}

.card-route {
  margin-top: 4px;
  padding-top: 8px;
  border-top: 1px solid #F2F2F2;
}

.route-caption {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #171932;
}

.route-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.route-list::before {
  content: "";
  position: absolute;
  left: 4.8px;
  top: 10px;
  height: calc(100% - 19px);
  width: 1px;
  background-color: #443296;
  display: block;
}

.route-point {
  position: relative;
  padding-left: 15px;
  margin-top: 8px;
}

.route-point::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  display: block;
  border: 2px solid #443296;
  border-radius: 50%;
  width: 7px;
  height: 7px;

  background-color: #fff;
}

.route-point:last-child:before {
  background-color: #443296;
}

.route-point:last-child:after {
  position: absolute;
  top: 16px;
  left: 0;
  content: "";
  display: block; 
  width: 12px;
  height: calc(100% - 17px);
  bottom: 0;
  background-color: #fff;
}

.route-name {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #171932;
}

.on-way {
  margin-top: 4px;
  gap: 4px;
  align-items: baseline;
}

.hitch,
.hitch-city {
  flex-shrink: 0;
}

.hitch {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #171932;  
}

.hitch-city {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #171932;
}

.card-data {
  margin-top: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.card-time,
.card-people {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #171932;
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-guide {
  margin-top: 8px;
}

.desk-filter-content .key-block-hide .hide-block {
  right: 0;
}

.slider-body {
  position: relative;
}

.slider-main {
  width: 100%;
  border-radius: 16px;
}

.slider-left,
.slider-right {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider-right {
  right: 16px;
  background: url('../img/slider-right.svg') no-repeat center;
  background-size: cover;
}

.slider-left {
  left: 16px;
  background: url('../img/slider-left.svg') no-repeat center;
  background-size: cover;
}

.slides-cont {
  position: relative;
}

.slider-items.offer-tags {
  position: relative;
  margin-top: 20px;
  padding-bottom: 5px;
  gap: 8px;
}

.slider-shadow {
  content: "";
  display: block;
  width: 100px;
  height: 100%;
  position: absolute;
  right: -2px;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
}

.slider-items .slider-item {
  cursor: pointer;
  border-radius: 8px;
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.mob-back.back-btn {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #443296;
}
.mob-back.back-btn::before {
  width: 24px;
  height: 24px;
}

.main-content-card,
.main-content-card .norm-card {
  margin-top: 4px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 4px;
  list-style: none;
  margin: 0;
  margin-top: 18px;
}

.bread-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #BDBDBD;
}

.bread-link::after {
  content: "/";
  display: inline-block;
  margin-left: 4px;
}

.bread-item:last-child .bread-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #2D3161;
}

.bread-item:last-child .bread-link::after {
  display: none;
}



@media screen and (min-width: 768px){
  .main-content {
    width: 100%;
    /* gap: 32px; */
    margin-top: 0;
  }

  /* .side-block {
    padding-right: 32px;
  } */

  .main-content > *{
    padding-top: 24px;
  }
  
  .main-content {
    grid-template-columns: 264px 1fr 340px;
    grid-template-rows: 1fr auto;
  }

  .desktop-nav-cont {
    grid-row: 1 / 3;
  }

  .main-block {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }

  .side-block {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }

  .desktop-nav-cont {
    display: block;
    background-color: #fff;
    border-right: 1px solid #E0E0E0;
  }
  
  .main-header {
    display: none;
  }

  .desktop-nav {
    text-align: center;
  }

  .header-logo img {
    display: inline-block;
  }

  .row-item {
    flex-grow: 1;
  }

  .block-parameters .diff-select {
    max-width: none;
  }

  .block-parameters .btn-add-day {
    margin-left: 0;
  }
  
  .btn-city {
    width: auto;
  }

  .book-mob {
    display: none;
  }

  .capital-title {
    padding-top: 40px;
  }

  .summer-item {
    width: 222px;
    height: 222px;
  }

  .head-location {
    font-size: 32px;
    line-height: 40px;
  }

  .head-info {
    padding: 40px 32px;
    padding-top: 48px;
  }

  .mobile-filter {
    display: none;
  }

  .mob-back.back-btn {
    display: none;
  }

  .main-content-card {
    margin-top: 24px;
  }

  .main-content-card .norm-card {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1024px){
  .main-content {
    grid-template-columns: 264px 1fr 340px;
    grid-template-rows: 1fr;
  }

  .main-content > * {
    grid-row: auto;
    grid-column: auto;
  }

  .main-block {
    padding-top: 32px;
  }

  .side-block .key-block {
    padding-top: 8px;
    margin-top: 0;
  }

  .key-block {
    padding: 32px 44px;
  }

  .key-block-hide .hide-block {
    right: 44px;
  }

  .side-block .key-block-hide .hide-block {
    top: 16px;
  }
  
  .transportation {
    justify-content: space-between;
  }

  .btn-add-day {
    margin-top: 16px;
    order: 1;
    align-self: center;
  }
  
  .exc-add-day {
    margin-left: 0;
  }
  
  .exc-delete {
    justify-content: start;
    margin-left: 32px;
  }

  .split-exc {
    position: relative;
    padding-left: 31px;
  }

  .split-exc::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 20px;

    border-radius: 50%;
    background: #443296;
  }

  .categories-list {
    gap: 14px;
  }

  .way-move--mob {
    display: none;
  }

  .side-block-hide {
    display: block;
  }
}

@media screen and (min-width: 1300px){
  .main-content {
    grid-template-columns: 264px 1fr 340px;
    grid-template-rows: 1fr;
  }

  .mob-shedule {
    display: none;
  }

  .desk-shedule {
    display: block;
  }

  .shedule-row > *{
    height: 38px;
  }

  .desk-shedule input[type="text"],
  .desk-shedule .diff-select,
  .desk-shedule .btn-add-day {
    margin-top: 0;
  }

  .desk-shedule .shedule-row {
    display: flex;
    /* align-items: center;
    height: 38px; */
    margin: 16px auto;
    gap: 8px;
    justify-content: space-between;
  }

  .desk-shedule .shedule-row:nth-child(2) {
    margin-top: 0;
  }

  .desk-shedule .shedule-title-row {
    margin: 0;
  }

  .shedule-list {
    width: calc(100% - 143px);
    list-style: none;
    padding: 0;
    padding-left: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shedule-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #171932;
    flex-grow: 1;
    text-align: left;
  }

  .shedule-title:last-child {
    flex-grow: 2;
  }

  .week-day {
    width: 38px;
  }

  .shedule-row .pic-input-clock,
  .shedule-row .diff-price {
    width: 18.5%;
  }

  .shedule-row .pic-input-clock {
    margin-top: 0;
  }

  .shedule-row .diff-price {
    flex-grow: 1;
  }

  /* .diff-select {
    width: 12%;
  } */

  .desk-shedule .btn-add-day {
    width: 19.5%;
    width: 133px;
    padding: 9px;
    padding-right: 0;
    white-space: nowrap;
    align-self: flex-start;
  }

  .block-parameters .tabs {
    margin-left: 0;
  }

  .capital-block {
    padding-bottom: 15px;
    border-radius: 0px 0px 32px 32px;
    margin-bottom: 0;
  }

  .capital-block .search-row {
    flex-direction: row;
    gap: 16px;
  }

  .capital-title {
    font-size: 32px;
    line-height: 40px;
  }

  .capital-title b {
    font-size: 40px;
    line-height: 48px;
  }

  .search-info {
    margin-top: 16px;
  }

  .capital-search {
    position: relative;
    margin-top: 72px;
  }

  .capital-search .pic-input.pic-input-address {
    flex-grow: 3;
    width: auto;
  }
  
  .capital-search .btn-send {
    flex-grow: 1;
    width: auto;
  }

  .capital-search .search-info .search-item {
    display: flex;
  }

  .summary-item {
    width: auto;
  }

  .control-grid {
    display: flex;
  }
  
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
  
  /* cards-grid--large */
  .cards-grid--large .search-card {
    grid-column: 1 / 3;
    width: 100%;
    flex-direction: row;
  } 

  .cards-grid--large .card-header {
    flex-shrink: 0;
    width: 308px;
  }

  .cards-grid--large .card-body {
    padding-top: 54px;
  }

  .cards-grid--large .card-slider {
    height: 100%;
  }
  .cards-grid--large .offer-tags:first-child {
    position: absolute;
    top: 26px;
    flex-grow: 0;
    width: calc(85% - 100px);
  }

  .cards-grid--large .card-caption {
    padding-right: 115px;
  }

  .cards-grid--large .card-header .card-price {
    display: none;
  }

  .cards-grid--large .card-body .card-price {
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline-block;
  }
  
  .cards-grid--large .search-card {
    max-width: 1000px;
  }

  .cards-grid--small .search-card {
    max-width: 430px;
  }
}

@media screen and (min-width: 1350px){
  .cards-grid--large .card-header {
    width: 308px;
  }
}

@media screen and (min-width: 1750px){
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards-grid--large .search-card {
    grid-column: 1 / 4;
  }
}