@import url("../font/stylesheet.css");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Gilroy", Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

a {
  font-size: 12px;
  line-height: 20px;
  color: #443296;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #443296;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #443296;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  color: #171932;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2D3161 !important;
}

input[type="text"] {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 20px;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
  display: block;
}

input[type="text"]::placeholder {
  color: #828282;
}

textarea {
  width: 100%;
  height: 138px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  resize: vertical;
}

textarea::placeholder {
  color: #828282;
}

textarea::-webkit-resizer{
  display: none;
}

::-moz-resizer { 
  display: none;
}

.area-wrapper {
  position: relative;
  display: block;
}
.area-wrapper::after {
  content: "";
  display: block;
  background: url('../img/resizer.svg') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 7px;
  right: 0;
  pointer-events: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  height: 26px;
  margin-top: 8px;
  padding-left: 32px;
  font-size: 14px;
  line-height: 1.9em;
  color: #000000;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #2D3161;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  background-color: #2D3161;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.multi-pick {
  display: flex;
  margin-top: 10px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 16px;
  gap: 8px;
  flex-wrap: wrap;
}

.multi-pick-item {
  position: relative;
  font-size: 9px;
  line-height: 10px;
  color: #171932;
  border: 0.5px solid #2D3161;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 18px 4px 6px;
  cursor: pointer;
}

.multi-pick-item::after {
  content: "";
  position: absolute;
  margin-left: 2px;
  display: block;
  background: url('../img/close-pick.svg');
  width: 10px;
  height: 10px;
  top: 4px;
  right: 6px;
}

.pick-add {
  font-weight: bold;
  color: #FFFFFF;
  background: #2D3161;
  border-radius: 4px;
}

.pick-add::after {
  background: url('../img/add-pick.svg');
}

.tabs {
  width: 100%;
  max-width: 279px;
  height: 40px;
  margin: 16px auto;
  display: flex;
  position: relative;
  background-color: #DBDFFA;
  border-radius: 32px;
}
.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
  color: #443296;
}

input[type="radio"]:checked + label {
  color: #F7F7FC;
}
/* input[type="radio"]:checked + label > .notification {
  background-color: #443296;
  color: #fff;
} */

input[id="radio-1"]:checked ~ .glider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.glider {
  position: absolute;
  display: -webkit-box;
  display: flex;
  height: 100%;
  width: 50%;
  background-color: #443296;
  z-index: 1;
  border-radius: 99px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}


.btn {
  display: block;
  width: auto;
  background-color: #2D3161;
  border-radius: 8px;

  margin: 0 auto;
  padding: 6px 20px;

  border: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: none;
}

.btn:hover {
  background-color: #443296;
}

.btn:active {
  background-color: #DBDFFA;
}

.btn:disabled {
  background-color: #E0E0E0;
}

.btn-gray {
  background-color: #F2F2F2;
  color: #2D3161;
}
.btn-gray:hover {
  background-color: #dbdbdb;
}

.btn-default {
  border: 1px solid #F2F2F2;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #fff;
  padding: 6px 0;
}

.btn-default:hover {
  background-color: #F2F2F2;
}

/* common styles */

.wrapper {
  width: 91%;
  margin: 0 auto;
}

.main-header {
  position: relative;
  height: 40px;
  align-items: center;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.header-burger {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 12px 9px;
  background: #443296;
  border-radius: 14px;
  background-image: url('../img/burger-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.header-logo img {
  display: block;
}

.main-content {
  margin-top: 24px;
}

.main-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #443296;
}

.key-block {
  position: relative;
  margin-top: 24px;
  padding: 32px 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.hide-block {
  display: none;
  border: none;
  background: none;
}

.key-block-hide .hide-block {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../img/arrow.svg');
  top: 32px;
  right: 10px;
  cursor: pointer;
}

.key-block-hide--closed .hide-block {
  transform: rotate(180deg);
}

.block-heading {
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
  max-width: 75%;
}

.block-parameters .block-heading {
  margin-bottom: 0;
}

.heading-question::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/question.svg');
  background-size: cover;
  bottom: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.sub-head {
  position: relative;
  margin-top: 16px;
}

.area-counter {
  margin-top: 3px;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #828282;
}

.area-counter span {
  font-size: inherit;
  line-height: inherit;
}

.momental-label::after {
  content: "";
  margin-left: 11px;
  width: 10px;
  height: 16px;
  position: absolute;
  top: 25%;
  background: url('../img/zip.svg');
}

.address-input {
  position: relative;
}

.address-input input{
  padding: 8px 44px;
  padding-right: 0;
}

.address-input::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/map-pin.svg');
  top: 9px;
  left: 16px;
}

.photos-excursion {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-right: -10px;
  padding-right: 10px;
  overflow-x: auto;
}

.img-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  flex-shrink: 0;
}

.image-object {
  width: 100%;
  height: 50px;
  background: url('../img/image-placeholder.svg'), #fff;
  border: 1px solid #F2F2F2;
  /* background: #FCF4FF; */
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}
.image-object img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-title {
  margin-top: 4px;
  font-size: 8px;
  line-height: 10px;
}

.img-item-delete {
  margin-top: 4px;
  font-size: 8px;
  line-height: 10px;
  color: #EB5757;
  cursor: pointer;
}

.excursion-tip {
  margin-top: 10px;
  font-size: 12px;
  color: #828282;
}

.load-images {
  max-width: 310px;
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.load-images label{
  flex-grow: 1;
  position: relative;
}

.load-images input[type="file"] {
  display: none;
}

.load-photos {
  background: #2D3161;
  border-radius: 8px;
  padding: 6px 32px;
  padding-left: 16px;
  
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.load-photos::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 10px;
  margin-left: 6px;
  background-image: url('../img/load-photos.svg');
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
}

.load-cover {
  border: 1px solid #2D3161;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px;

  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #2D3161;
  text-align: center;
  cursor: pointer;
}


.counter {
  display: flex;
  justify-content: center;
  margin: 8px auto;
}

.counter-value {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  align-self: center;
  color: #14142B;
}


.counter-btn {
  display: block;
  background-size: 8px;
  width: 40px;
  height: 40px;
  margin: 0 16px;
  border-radius: 50%;
}

.counter-btn--dist {
  background-image: url('../img/counter-dist.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.counter-btn--add {
  background-image: url('../img/counter-add.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.members-count {
  display: flex;
  justify-content: space-evenly;
  margin: 16px auto;
}

.members-count .counter-btn {
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.members-age {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.members-age .counter-btn {
  /* width: 50%; */
  flex-basis: 48%;
  font-weight: 600;
  color: #2D3161;
  border-radius: 8px;
  margin: 0;
  margin-top: 8px;
}

.counter-any {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  margin: 8px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  margin: 44px;
  margin-right: auto;
  font-weight: normal;
  font-size: 24px;
  color: #171932;
}

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  font-size: 1.2em;
  background: #00f;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 40%;
  max-width: 400px;
  min-width: 260px;
  margin: 50px auto;
  height: 65px;
  line-height: 3;
  background: #00f;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

select {
  flex: 1;
  padding: 0 25px;
  color: azure;
  cursor: pointer;
}

option:hover{
  filter: hue-rotate(190deg);
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 5px;
  padding: 0 1em;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: rgb(255, 99, 132);
} */